html {
  text-size-adjust: 100%;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

nav {
  border-top: 4px blue;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery img {
  height: 150px;
  width: auto;
}

.left-g {
  display: flex;
}

.right-g {
  display: flex;
}

.pagetext {
  display: flex;
}

.tophead {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  background-color: pink;
}
